@charset "utf-8";

/* ------------------------------
 全体
------------------------------ */
html {
    font-size: 100%;
}

body {
    font-family: Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    /* font-size: ;
    background-color: ;
    color: ; */
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    width: 200px;
    height: auto;
    vertical-align: bottom;
}

/* ------------------------------
 コンテンツ
------------------------------ */
table {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.table01 img {
    opacity: 0.6;
}

.table02 th {
    width: 300px;
    height: 60px;
}

.table02 td {
    height: 200px;
}

.result p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

img:hover {
    opacity: 1;
    cursor: pointer;
}

img:active {
    position: relative;
    top: 4px;
}